@charset "UTF-8";
@font-face {
  font-family: "InterTight";
  src: url("../fonts/InterTight-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "InterTight";
  src: url("../fonts/InterTight-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "InterTight";
  src: url("../fonts/InterTight-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-family: Arial;
}

textarea, button, input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

address {
  font-style: normal;
}

.card-column__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  width: 100%;
  max-width: 1092px;
  margin: 0 auto;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body {
  color: #505050;
  font-family: "InterTight";
  font-size: 0.937rem;
  font-weight: 400;
  line-height: 133.333%;
  /* 20/15 */
}

img {
  width: 100%;
}

h1 {
  color: #161616;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 120%;
  /* 48/40 */
}

h2 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 128.571%;
  /* 36/28 */
}

.white-outline {
  border: 1px solid #e6e6e6;
}

.logo img {
  width: 76px;
  height: 48px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; /* запрет выделения */
  -webkit-user-drag: none; /* запрет перетаскивания в WebKit */
  user-drag: none;
  -webkit-tap-highlight-color: transparent; /* убирает подсветку на мобильных */
}

.bgimg {
  z-index: -1;
}

.black-text {
  color: #161616;
}

.cards-row {
  display: -ms-grid;
  display: grid;
}

.card-column {
  padding: 18px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card-column__img {
  width: 64px;
  height: 64px;
  min-width: 64px;
  margin-right: 16px;
  border: 1px solid #161616;
}
.card-column__img img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}
.card-column .text_title {
  font-size: 2rem;
  line-height: 100%;
  font-weight: 500;
  color: #161616;
}
.card-column .text_subtitle {
  font-size: 0.625rem;
  line-height: 140%; /* 14/10 */
}

.block-with-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-btn, .btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: #fff;
  fill: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-wrap: nowrap;
}
.block-btn:hover, .btn:hover {
  background: #505050;
}

.block-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -1px;
  right: -1px;
  height: calc(100% + 2px);
  padding-left: 23px;
  padding-right: 25px;
  background: #2d2d2d;
}

.block-btn__text, .btn__text {
  margin-right: 9px;
}

.block-btn__arrow {
  top: -1px;
}

.block-btn__arrow, .btn__arrow {
  position: relative;
  width: 16px;
  height: 15px;
}

.black-btn {
  background: #161616;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #161616;
  padding: 24px 24px 24px 23px;
}

.header {
  padding: 25px 24px;
}
.header__logo {
  margin-right: 103px;
}
.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  font-weight: 125%; /* 20/16 */
  text-transform: uppercase;
}
.header .menu__list > :not(:last-child) {
  margin: 0 12px 0 0;
}
.first-sheet ._container {
  position: relative;
  padding: 96px 46px 36px;
  text-align: center;
}
.first-sheet ._container .first-sheet__title {
  margin: 0 auto 24px;
}
.first-sheet ._container .first-sheet__subtitle {
  margin: 0 auto 48px;
  width: 100%;
  max-width: 900px;
  line-height: 173.333333%; /* 26/15 */
}
.first-sheet ._container .bgimg {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.why-advertisers-choose ._container {
  padding: 64px 64px 48px;
}
.why-advertisers-choose ._container .why-advertisers-choose__title {
  margin-bottom: 24px;
}
.why-advertisers-choose ._container .why-advertisers-choose__paragraphs {
  margin-bottom: 48px;
}
.why-advertisers-choose ._container .why-advertisers-choose__paragraphs > :not(:last-child) {
  margin-bottom: 12px;
}
.why-advertisers-choose ._container .why-advertisers-choose__cards-row {
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}
.why-advertisers-choose ._container .why-advertisers-choose__card-column:not(:first-child) {
  border-left: none;
}